[Desktop Entry]
Name=NoteMe
Comment=A simple note-taking application
Exec=noteme
Icon=io.github.agustingv.noteme
Terminal=false
Type=Application
Categories=Utility;TextEditor;
Keywords=notes;text;editor;
